.prompt {
  color: black;
  background-color: white;
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 300px;
  top: calc(50% - 225px);
  left: calc(50% - 150px);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.prompt-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.76);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}




.prompt-buttons {
  display: flex;
  justify-content: space-around;
}

.prompt-buttons button {
  width: 75px;
}
