.notification {
  position: absolute;
  top: 9vh;
  left: auto;
  right: auto;
  background-color: rgb(102, 199, 45);
  color: white;
  width: 100%;
  z-index: 100;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  display: flex;
}

.message svg {
  margin-right: 10px;
}