* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: teal;
}

/* used for logins and signups and course selector */


.feedback {
  position: absolute;
  bottom: 14px;
  font-size: 12px;
  color: rgb(221, 42, 42);
}

/* container stays small for larger screens and grows for big screens */
.smaller-container {
  height: auto;
  width: 60%;
  background-color: white;
  margin: auto;
  margin-top: 6vw;
  box-shadow: 2px 6px 15px rgb(37, 37, 37);
  border-radius: 5px;
  padding: 20px;
}

/* puts the label and input together */
.form-group { 
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 25px; */
  position: relative;
}

.form-group label {
  margin-bottom: 5px;
}

/* for forms with inline label and input */
.form-group-inline {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.form-group-inline label {
  width: 40px;
  text-align: center;
}


.form-title {
  padding-bottom: 25px;
  position: relative;
  text-align: center;

}

/* margin top that leaves room for the notification */
.mt-notification


.p-btm-30 {
  padding-bottom: 30px; 
}



@media only screen and (max-width: 1000px) {
  .smaller-container {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .smaller-container {
    width: 97%;
  }
}